.top-bar {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #444;
  width: 100vw;
  height: 2.5rem;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.window-controls {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  -webkit-app-region: no-drag;
}

.window-controls button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-controls .close {
  background-color: #ff5f56;
}

.window-controls .minimize {
  background-color: #ffbd2e;
}

.window-controls .maximize {
  background-color: #27c93f;
}

.window-controls button .icon {
  display: none;
  font-size: 10px;
  color: white;
}

.window-controls button:hover .icon {
  display: block;
}

.window-controls button.inactive {
  background-color: #747474;
}

.window-controls button.inactive .icon {
  display: none;
}
