html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #333;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

.app-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  width: 100vw;
  height: 90vh;
  gap: 1rem;
}

.main-content {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  overflow: auto;
  border-radius: 10px;
}

.main-content::-webkit-scrollbar {
  display: none;
}
